@model IEnumerable<OnlineRecipe.Models.Category>

@{
    ViewData["Title"] = "Index";
   
}

<h1>Recipes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*@*@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryId)
            </td>
            <td>
                    <a asp-action="RecipeList" asp-route-cid="@item.categoryId">@Html.DisplayFor(modelItem => item.categoryName)</a>
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>*@*@*@
